@model BackEndConfigEventList
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            @if (Model.ConfigEvents.IgnoreNulls().Any())
            {
                using (Html.BootstrapBeginForm("", "", isDirtyFormMonitored: false))
                {
                    @Html.AntiForgeryToken()

                    WebGridHelper webGrid = new WebGridHelper(Model.ConfigEvents, defaultSort: "Id", sortDirection: SortDirection.Ascending, rowsPerPage: 10);
                    @webGrid.GetExtendedHtml(
                             columns: webGrid.ExtendedColumns(
                                      webGrid.ExtendedColumn("", "", @<text>@Html.BootstrapButtonEdit("/Admin/ConfigEventAddEdit/" + item.Id as string)</text>, style: "col-10"),
                                      webGrid.ExtendedColumn("EventName", "Tên"),
                                      webGrid.ExtendedColumn("StartDate", "Thời gian bắt đầu", @<text>@(item.StartDate == null ? "" : item.StartDate.ToString("dd-MM-yyyy HH:mm"))</text>),
                                      webGrid.ExtendedColumn("EndDate", "Thời gian kết thúc", @<text>@(item.EndDate == null ? "" : item.EndDate.ToString("dd-MM-yyyy HH:mm"))</text>),
                                      webGrid.ExtendedColumn("Status", "Trạng thái", @<text><span class="badge @(item.Status == 1 ? "badge-primary" : "badge-danger")">@(item.Status == 1 ? "Active" : "InActive")</span></text>)
                        ));
                }
            }
        </div>
    </div>
</div>