@model BackEndSysVarList
<div class="row">
    <div class="col-lg-12">
        @using (Html.BootstrapBeginForm(formMethod: FormMethod.Get, isDirtyFormMonitored: false))
        {
            <div class="panel panel-default">
                <div class="panel-footer">
                    @Html.BootstrapApplyFilter()
                    @Html.BootstrapResetFilter()
                    @Html.BootstrapButtonAdd("/Admin/SysVarAddEdit")
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            @if (Model.SysVars.IgnoreNulls().Any())
            {
                using (Html.BootstrapBeginForm("", "", isDirtyFormMonitored: false))
                {
                    @Html.AntiForgeryToken()
                    WebGridHelper webGrid = new WebGridHelper(Model.SysVars, defaultSort: "Sys_Id", sortDirection: SortDirection.Ascending, rowsPerPage: 10);
                    @webGrid.GetExtendedHtml(columns: webGrid.ExtendedColumns(webGrid.ExtendedColumn("", "", @<text>@Html.BootstrapButtonEdit("/Admin/SysVarAddEdit/" + item.Sys_Id as string)</text>, style: "col-10"), webGrid.ExtendedColumn("Sys_Name", "Tên"), webGrid.ExtendedColumn("Sys_Value", "Giá trị")
                     ));
                }
            }
        </div>
    </div>
</div>